{% extends "navbar_base.html" %}
{% block content %}
  <h3>THIS IS A PAGE TO DISPLAY MUSIC GENRES</h3>
  
  <br/>
  <br/>
  
    <div class="span9">
    <ul class="breadcrumb">
		
		<li><a href="{{ url_for(".root") }}">Home</a> <span class="divider">/</span> </li>
		
		
		
		<li class="active">All Genres</li>
    </ul>
	<h3> Genres<small class="pull-right"> 4 categories are available </small></h3>	
	<hr class="soft"/>
	
		
		 <div class ="row">
          <div class="span9">
		
			  <ul class="thumbnails">
			  <h3 style="text-align:center"> HEAVY METAL </h3>
				  
			  <div class="thumbnail">
				<img class="img-responsive" src="http://localhost:5000/static/img/b1.jpg" alt="">
				<div class="caption">
				  <h5>Black Sabbath</h5>
				  <h6> Reunion (1998) CD</h6> 
				 
				    <h4 style="text-align:center"> <a class="btn btn-danger" href="">Read More ...</a></h4>
				</div>
			  </div>
				 
			  <div class="thumbnail">
                  
					<img class="img-responsive" src="http://localhost:5000/static/img/6.jpg" alt="">
					<div class="caption">
					  <h5>Metallica</h5>
					  <h6>The Metallica Collection (2009) CD</h6>
					 
					  <h4 style="text-align:center"> <a class="btn btn-danger" href="">Read More ...</a></h4>
					</div>
				  </div>			  			  
			</ul>
			  <br/>
			  <br/>
			  
			  <ul class="thumbnails">
			 <h3 style="text-align:center"> HARD ROCK</h3>
			<div class="thumbnail">
				<img class="img-responsive" src="http://localhost:5000/static/img/11.jpg" alt="">
				<div class="caption">
				  <h5>Led Zeppelin</h5>
				  
				  <h6>Physical Graffiti Deluxe Edition (2014) VINYL</h6>
				   <h4 style="text-align:center"> <a class="btn btn-danger" href="">Read More ...</a></h4>
				</div>  
			  </div>
			<div class="thumbnail">
				<img class="img-responsive" src="http://localhost:5000/static/img/12.jpg" alt="">
				<div class="caption">
				  <h5>Pink Floyd</h5>
				  
				  <h6>Another Brick in The Wall (1979) VINYL</h6>
				   <h4 style="text-align:center"> <a class="btn btn-danger" href="">Read More ...</a></h4>
				</div>
			  </div>
			 </ul>
			 
			 <br/>
			  <br/>
			  
			   <ul class="thumbnails">
			  <h3 style="text-align:center"> POWER METAL </h3>
			  
			  <div class="thumbnail">
					<img class="img-responsive" src="http://localhost:5000/static/img/9.jpg" alt="">
					<div class="caption">
					  <h5>Avantasia </h5>
					  <h6>Angel of Babylon (2010) CD</h6>
					  <h4 style="text-align:center"><a class="btn btn-danger" href="">Read More ....</a></h4>
					</div>
				  </div>
			  
			   <div class="thumbnail">
					<img class="img-responsive" src="http://localhost:5000/static/img/8.jpg" alt="">
					<div class="caption">
					  <h5>Avantasia</h5>
					  <h6>The Mystery of Time (2013) CD</h6>
					   <h4 style="text-align:center"><a class="btn btn-danger" href="">Read More ...</a></h4>
					</div>
				  </div>
				 <div class="thumbnail">
		    <img class="img-responsive" src="http://localhost:5000/static/img/3.jpg" alt="">
		    <div class="caption">
			  <h5>Hammerfall</h5>
              <h6>Infected (2011) CD</h6>
			 
				<h4 style="text-align:center"><a class="btn btn-danger" href="">Read More ...</a></h4>
			</div>
	    </div>
			  
			 <div class="thumbnail">
					<img class="img-responsive" src="http://localhost:5000/static/img/10.jpg" alt="">
					<div class="caption">
					  <h5>Hammerfall</h5>
					  <h6>No Sacrifice No Victory (2009) CD</h6>
					  <h4 style="text-align:center"> <a class="btn btn-danger" href="">Read More ...</a></h4>
					</div>
				  </div>  
			  
			  </ul>
				  
			<br/>
			<br/>
			
			<ul class="thumbnails">
			 <h3 style="text-align:center"> SYMPHONIC METAL</h3>
			
			<div class="thumbnail">
					<img class="img-responsive" src="http://localhost:5000/static/img/7.jpg" alt="">
					<div class="caption">
					  <h5>Nightwish</h5>
					  <h6> 
						Imaginearum (2012) CD</h6>
					<h4 style="text-align:center"> <a class="btn btn-danger" href="">Read More ...</a></h4>
					</div>
				  </div>
				  <div class="thumbnail">
				
				<img class="img-responsive" src="http://localhost:5000/static/img/nightwish2small.jpg" alt="">
				
				<div class="caption">
				  <h5>Nightwish</h5>
				  <h6>Dark Passion Play (2007) CD</h6>
				    <h4 style="text-align:center"><a class="btn btn-danger" href="">Read More ...</a></h4>
				</div>
				</div>
				<div class="thumbnail">
					<img class="img-responsive" src="http://localhost:5000/static/img/b3.jpg" alt="">
					<div class="caption">
					  <h5>Within Temptation</h5>
					  <h6>The Heart of Everything (2007) CD</h6>
					   <h4 style="text-align:center"> <a class="btn btn-danger" href="">Read More ...</a></h4>
					</div>
				  </div>
				<div class="thumbnail">
                  <i class="tag"></i>
					<img class="img-responsive" src="http://localhost:5000/static/img/b2.jpg" alt="">
					<div class="caption">
					  <h5>Within Temptation</h5>
					  <h6>Stand My Ground (2004) DVD</h6>
					   <h4 style="text-align:center"> <a class="btn btn-danger" href="">Read More ...</a></h4>
					</div>
				  </div>
			
			
			</ul>
			<br/>
			<br/>
			
			
			
			
			
			
			</div>
	
			<br class="clr"/>
</div>
		
  </div>
  
  
  
  
  
  
{% endblock %}}
